nav{
    background-color: #F1E6F8;
}
.navbar-nav{
    font-weight: 500;
    gap: 3rem;
}
.nav-item{
    align-items: center !important;
}
.download{
    background-color: #7103B6 !important;
    color: white !important;
    font-size: 1rem !important;
    transition: all 300ms ease-in-out !important;
}
.download:hover{
    background-color: #7103B6 !important;
    color: white !important;
    transform: scale(1.1) !important;
}
.modal-title{
    color: #7103B6;
    font-weight: 700;
}
.modal-body{
    margin-bottom: 3rem;
}
.small-f{
    font-size: 0.75rem;
    font-weight: 500;
}
.modal-footer{
    margin-top: -3rem !important;
    justify-content: center !important;
}
.join{
    background-color: #7103B6 !important;
    color: white !important;
    padding: 0.8rem 2rem !important;
}
form{
    margin-left: 0.5rem !important;
    width: 95% !important;
}
.letter{
    margin-top: -2.5rem !important;
    font-size: 0.8rem;
    margin-bottom: 3rem !important;
    padding: 0.6rem 1rem !important;
}

@media (max-width: 992px) {
    .navbar-nav{
        font-weight: 500;
        gap: 0.5rem;
    }
}