.b-cont{
    position: relative;
    z-index: 99;
    margin-top: -5.6rem;
    background-color: #7103B6;
    height: 6rem;
    padding-top: 1.7rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.button-wrapper{
    justify-content: center;
    margin: 0px 10px;
}
.button-wrapper button{
    font-size: 0.8rem;
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    padding: 0.6rem;
    background-color: #AD88C6;
}

@media (max-width: 768px) {
    .b-cont{
        height: 4rem;
        margin-top: -3rem;
        padding-top: 1rem;  
    }
    .button-wrapper button{
        padding: 0.2rem;
        font-size: 0.7rem;
    }
}